.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

input {
  margin: 20px 0 30px 20px;
  cursor: pointer;
}

.checkbox {
  font-size: 18px;
}

.table {
  width: 100%;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
}

.table thead th {
  font-weight: bold;
  text-align: left;
  border: none;
  padding: 10px 15px;
  background: #d8d8d8;
  font-size: 20px;
}

.table thead tr th:first-child {
  border-radius: 8px 0 0 8px;
}

.table thead tr th:last-child {
  border-radius: 0 8px 8px 0;
}

.table tbody td {
  text-align: left;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  vertical-align: top;
}

.nested {
  background-color: #f3f3f3;
}

.active {
  background-color: #d8e6e6;
}

.parent {
  background-color: #f2f8f8;
}

.inactive {
  display: none;
}

.hidden {
  display: none;
}
